.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0 !important;
}

/* Dark Mode Styles */
:global(body.dark-mode) .about-container {
    background-color: #121212;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 0;
        padding: 2rem 0 0 0;
        margin-top: 0;
        overflow-x: hidden;
    }
}

@media (max-width: 576px) {
    .about-container {
        width: 100%;
        margin-bottom: 0;
        padding: 1.5rem 0 0 0;
        margin-top: 0;
    }
}

@media (max-width: 932px) and (orientation: landscape) {
    .about-container {
        margin-top: 0;
        max-height: 120vh;
        min-height: auto;
        padding: 1rem 0 0 0;
    }
}
