.btn-size {
    width: 20%;
    font-style: italic !important;

}

@media (max-width: 768px) {
    .btn-size {
        width: 35% !important;
    }
}

@media (max-width: 480px) {
    .btn-size {
        width: 45% !important;
    }
}

@media (max-width: 360px) {
    .btn-size {
        width: 50% !important;
    }
}

@media (max-width: 932px) and (orientation: landscape) {
    .btn-size {
        margin-top: 0 !important;
        width: 25% !important;
        font-size: 10px !important;
    }
}