.name-container {
    font-weight: 700;
    color: #1a73e8 !important;
    height: 100%;
    white-space: nowrap;
    font-style: italic !important;
}

.name-text {
    font-size: 1.5rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .name-container {
        margin: 0 auto;
        color: #1a73e8 !important;
    }

    .name-text {
        font-size: 1.2rem !important;
    }

    /* Ensure consistent color in dark mode */
    :global(body.dark-mode) .name-container,
    :global(body.dark-mode) .name-container span {
        color: #1a73e8 !important;
    }
}

@media (max-width: 932px) and (orientation: landscape) {
    .name-container {
        margin-left: 10%;
    }

    .name-text {
        font-size: 1rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .name-container {
        margin-left: 15%;
        margin-right: 0;
        padding-right: 0;
    }

    .name-text {
        font-size: 1.3rem !important;
    }

}