.position-container {
    width: 100%;
}

.change-color {
    color: #1a73e8;
    font-weight: 750;
    font-size: 3rem;
    width: 100%;
}

.developer {
    margin-left: 20%;
}

:global(body.dark-mode) .change-color {
    color: #1a73e8 !important;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .position-container {
        margin-left: -15%;
    }

    .change-color {
        font-size: 2.5rem;
        margin-left: 0%;
    }

    .developer {
        margin-left: 45%;
    }
}

@media (max-width: 480px) {
    .position-container {
        margin-left: -25%;
    }

    .change-color {
        font-size: 2rem;
    }

    .developer {
        margin-left: 25%;
    }
}